<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="99f37e">  <td>18/01/12 13:12:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;configFile.cleanScreenShotDirectory()[pri:0, instance:TestScripts.demo@a67c67e]">&gt;&gt;cleanScreenShotDirectory</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>18/01/12 13:12:25</td>   <td>6029</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;configFile.setUp(java.lang.reflect.Method)[pri:0, instance:TestScripts.demo@a67c67e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
</table>
